/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* PAGE HEADER */

.page-header {
  /* DEBUG */
  background-color: lightblue;
  padding: 10px;
}

.page-header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
  padding: 5px;
}

.nav-link > li {
  list-style-type: none;
  display: inline-block;
}

/* FIRST SECTION */

.first-section {
  /* DEBUG */
  background-color: darkblue;
  padding: 30px;
}

.first-section > .container {
  /* DEBUG */
  background-color: palevioletred;
  border: 1px dashed black;
  width: 600px;
}

.first-block {
  /* DEBUG */
  padding: 120px;
}

/* MAIN SECTION */

#bg-gray {
  /* DEBUG */
  background-color: lightgrey;
}

.main-section {
  padding: 30px;
}

.main-section > .container {
  display: flex;
}

.lg-block {
  width: 60%;

  /* DEBUG */
  padding: 150px;
  background-color: lightblue;
  border: 1px dashed black;
}

.sm-block {
  width: 40%;

  /* DEBUG */
  padding: 150px;
  background-color: pink;
  border: 1px dashed black;
}

/* LAST SECTION */

.last-section {
  /* DEBUG */
  padding: 30px;
  background-color: lightgrey;
}

.last-block {
  /* DEBUG */
  padding: 250px;
  background-color: green;
  border: 1px dashed black;
}
